:root {
    --primary-color: #055a05; /*forest green*/
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;    
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: - 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color; var(--primary-color):
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    float: right;
    width: 125px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 290px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

aside img {
    float: right;
    width: 125px;

}

aside {
    position: absolute;
    top: 570px;
    width: 100%;
    padding: 10px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    margin:auto;
    height: 0 auto;
}

section h2 {
    top: 20px;
    padding: 7px;
    text-align:center;
    width:100%;
    position: relative;
   background-color: var(--accent1-color);
 
}

section h2 {
    bottom: 10px; 
    padding: 7px;
    text-align:center;
    width:100%;
    position: relative;
    background-color: var(--accent1-color);
    color: #fff;
}

ul {
    padding: 16px;
    block-size:auto;
}

footer {
position:absolute;
background-color: var(--primary-color);
text-align: center;
color: #fff;
}



